<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ukubuka</title>
    <link rel="stylesheet" type="text/css" href="../../../static/themes/demo/css/main.min.css">
</head>
<body>
    <header>
        <div class="firs_row">
            <div class="language select check">
                <label for="language_select_state">
                    <span class="option selected">EN</span>
                </label>
                <input id="language_select_state" class="select_state" type="checkbox">
                <div class="options">
                    <a href="ua">
                        <div class="option">
                            UA
                        </div>
                    </a>
                </div>
            </div>
            <a href="/">
                <div class="site_title_block">
                    <span class="site_title_text">Ukubuka</span>
                </div>
            </a>
        </div>
    </header>
    <nav>
        <div class="main_menu">
            <div class="menu_item_block">
                <a href="#">
                    <div class="menu_item">
                        <span class="menu_item_text">item1</span>
                    </div>
                </a>
                <div class="submenu_block">
                    <a href="#">
                        <div class="menu_item">
                            <span class="menu_item_text">subitem1</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu_item">
                            <span class="menu_item_text">subitem2</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu_item">
                            <span class="menu_item_text">subitem3</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="menu_item_block">
                <a href="#">
                    <div class="menu_item">
                        <span class="menu_item_text">item2</span>
                    </div>
                </a>
                <div class="submenu_block">
                    <a href="#">
                        <div class="menu_item">
                            <span class="menu_item_text">subitem1</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu_item">
                            <span class="menu_item_text">subitem2</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu_item">
                            <span class="menu_item_text">subitem3</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="menu_item_block">
                <a href="#">
                    <div class="menu_item">
                        <span class="menu_item_text">item3</span>
                    </div>
                </a>
                <div class="submenu_block">
                    <a href="#">
                        <div class="menu_item">
                            <span class="menu_item_text">subitem1</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu_item">
                            <span class="menu_item_text">subitem2</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu_item">
                            <span class="menu_item_text">subitem3</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="menu_item_block">
                <a href="#">
                    <div class="menu_item">
                        <span class="menu_item_text">item4</span>
                    </div>
                </a>
            </div>
        </div>
    </nav>
    <main>
        <section class="shop">
            <div class="breadcrumbs_block">
                <span class="breadcrumbs_text">main / shop</span>
            </div>
            <h1>Shop</h1>
            <div class="content">
                <div class="shop_section">
                    <h2 class="section_name">Section name</h2>
                    <img src="http://placekitten.com/200/300" alt="section name" title="section name">
                    <a href="#">go to the section</a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="copyright_block">
            <span class="copyright_text">&copy; <time datetime="2020">2020</time> Ukubuka</span>
        </div>
    </footer>
</body>
</html>
