<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ukubuka</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <header>
        <div class="language select check">
            <label for="language_select_state">
                <span class="option selected">EN</span>
            </label>
            <input id="language_select_state" class="select_state" type="checkbox">
            <div class="options">
                <a href="ua">
                    <div class="option">
                        UA
                    </div>
                </a>
            </div>
        </div>
        <div class="site_title_block">
            <span class="site_title_text">Ukubuka</span>
        </div>
        <input type="search" name="search">
    </header>
    <nav></nav>
    <main></main>
    <footer></footer>
</body>
</html>