<header>
    <div class="firs_row">
        <div class="language select check">
            <label for="language_select_state">
                <span class="option selected">EN</span>
            </label>
            <input id="language_select_state" class="select_state" type="checkbox">
            <div class="options">
                <a href="ua">
                    <div class="option">
                        UA
                    </div>
                </a>
            </div>
        </div>
        <a href="/">
            <div class="site_title_block">
                <span class="site_title_text">Ukubuka</span>
            </div>
        </a>
    </div>
</header>
