<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ukubuka</title>
        <link rel="stylesheet" type="text/css" href="../../../static/themes/demo/css/main.min.css">
    </head>
    <body>
        {% include layout.header ignore missing with context %}
        {% include layout.menu ignore missing with context %}
        {% block content %}{% endblock %}
        {% include layout.footer ignore missing with context %}
    </body>
</html>
