{% extends layout if layout %}

{% block content -%}

<main>
    <section>
        <div class="breadcrumbs_block">
            <span class="breadcrumbs_text">main / shop</span>
        </div>
        <h1>Shop</h1>
        <div class="content">
            {% for section in sections %}
            <div class="shop_section">
                <h2 class="section_name">{{ section.name }}</h2>
                <img src="http://placekitten.com/200/300" alt="{{ section.name }}" title="{{ section.name }}">
                <a href="{{ section.link }}">go to the section</a>
            </div>
            {% endfor %}
        </div>
    </section>
</main>

{%- endblock %}
