$base_font_size: 16px;
$base_font_family: 'Roboto', sans-serif;

$color_black: #000;
$color_white: #fff;

$color_gray_0: #000;
$color_gray_1: #111;
$color_gray_2: #222;
$color_gray_3: #333;
$color_gray_4: #444;
$color_gray_5: #555;
$color_gray_6: #666;
$color_gray_7: #777;
$color_gray_8: #888;
$color_gray_9: #999;
$color_gray_a: #aaa;
$color_gray_b: #bbb;
$color_gray_c: #ccc;
$color_gray_d: #ddd;
$color_gray_e: #eee;
$color_gray_f: #fff;

$text_color_copyright: $color_gray_5;
$text_size_copyright: 0.8em;
